body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.imagen{
    
}